// Place all the styles related to the order_release controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orders-table {
  //word-wrap: break-word;
  text-align: center;
  font-size: 12px;
  td th {
    text-align: center;
  }
  tbody {
    tr {
      height: 20px; /* or whatever height you need to make them all consistent */
    }
  }
}

.dataTables_wrapper {
  font-size: 14px
}

.order-attribute {
  float: left;
}

.order-value {
  float: right;
  width: 220px;
  .value-text {
    text-align: right;
  }
}

.order-params {
  width: 90%;
}

.orders_caption {
  float: left;
  alignment: left;
  color: black;
}

.pagination{
  font-size: 12px;
}