<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Larkin LLC", root_path, id: "logo" %>

    <% if logged_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Logout from "+ current_user.login, logout_path, method: :delete %></li>
        </ul>
    <% end %>
  </div>

</header>